<div class="container w-100">
  <h1 class="m-4">Datos Personales ID:{{ this.apir.subs.Id }}</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Trabajo</th>
        <th scope="col">Area</th>
        <th scope="col">Codigo y numero de telefono</th>
        <th scope="col">Codigo de pais</th>
        <th scope="col">Pais</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ this.apir.subs.Name }}</td>
        <td>{{ this.apir.subs.Email }}</td>
        <td>{{ this.apir.subs.JobTitle }}</td>
        <td>{{ this.apir.subs.Area }}</td>
        <td>{{ this.apir.subs.PhoneCodeAndNumber }}</td>
        <td>{{ this.apir.subs.CountryCode }}</td>
        <td>{{ this.apir.subs.CountryName }}</td>
      </tr>
    </tbody>
  </table>

  <h1 class="m-4">Datos De Suscripcion</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Actividad</th>
        <th scope="col">Ultima Actividad</th>
        <th scope="col">Hora De Ultima Actividad</th>
        <th scope="col">Fecha de suscripcion</th>
        <th scope="col">Metodo de suscripcion</th>
        <th scope="col">Estado de suscripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ this.apir.subs.Activity }}</th>
        <td>{{ this.apir.subs.LastActivityString }}</td>
        <td>{{ this.apir.subs.LastActivityUtc }}</td>
        <td>{{ this.apir.subs.SubscriptionDate }}</td>
        <td>{{ this.apir.subs.SubscriptionMethod }}</td>
        <td>{{ this.apir.subs.SubscriptionStateDescription }}</td>
      </tr>
    </tbody>
  </table>
</div>
