.edit-Cont{

  margin-top: 20px;
  padding: 5px;
  width: 100%;
  background-color: rgba(190, 190, 190, 0.514);
  border-radius: 50px;
  box-shadow: black 1px 3px 10px 1px;

}
.ix{
  width: 50%;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}
.form-group{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.form-group input{
  width: 50%;

}

.form-group label{
  width: 50%;
}
.edit-Img{
  width: 50%;
}
@media (max-width:1030px) {
  .form-group input{
    width: 85%;

  }

  .form-group label{
    width: 85%;
  }
  .edit-Img{
    width: 50%;

}
.b1{
  width: 50%;
  padding: 0px;
}
.b2{
  width: 50%;
  margin: 2px;

}
.edit-Cont{
  border-radius: 1px;
}
}
