<div class="container edit-Cont">
  <form
    [formGroup]="edit"
    (ngSubmit)="postForm(edit.value, this.subId)"
    class="d-flex justify-content-around alig-items-center"
  >
    <div class="ix">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          formControlName="Name"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email</label>
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          formControlName="Email"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Codigo del pais</label>
        <input
          type="text"
          class="form-control"
          placeholder="CountryCode"
          formControlName="CountryCode"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Telefono</label>
        <input
          type="text"
          class="form-control"
          placeholder="PhoneNumber"
          formControlName="PhoneNumber"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Area</label>
        <input
          type="text"
          class="form-control"
          placeholder="Arear"
          formControlName="Area"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre Del Trabajo</label>
        <input
          type="text"
          class="form-control"
          placeholder="JobTitle"
          formControlName="JobTitle"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Temas</label>
        <input
          type="text"
          class="form-control"
          placeholder="Topics"
          formControlName="Topics"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-success">Guardar</button>
    </div>
    <img src="../../../assets/patata.png" class="edit-Img" alt="" />
  </form>
</div>
