<div class="login">
  <div class="form-container">
    <img src="../../../assets/patata.png" class="imgbanner" alt="" />
    <form
      class="custom-form"
      method="post"
      [formGroup]="loginForm"
      (ngSubmit)="login(loginForm.value)"
    >
      <h1>Login</h1>
      <input
        type="UserName"
        formControlName="UserName"
        name="UserName"
        placeholder="User Name"
        required
      />
      <input
        type="Password"
        formControlName="Password"
        name="Password"
        placeholder="Password"
        required="required"
      />
      <div class="button-container">
        <button type="submit">Log in</button>
      </div>
    </form>
  </div>
</div>
