<!-- Informacion general de los sucriptres -->
<div class="container">
  <h4 class="m-4">Buscar por Nombre</h4> <!-- Filtro que nos permite buscar introducioendo el nombre
                                            cuando se deja de escribir el keyup manda lo que se introdujo -->
  <input
    type="text"
    class="form-control m-3 w-75"
    placeholder="Buscar..."
    #searchByName
    (keyup)="searchName(searchByName.value)"
  />
  <button type="button" class="btn btn-outline-primary m-3" (click)="newSub()">
    Agregar Suscriptor
  </button>
  <!-- Navegacion para consultar los paises -->
  <button
    type="button"
    class="btn btn-outline-primary m-3"
    (click)="countries()"
  >
    Consultar Paises
  </button>
<!-- Tabla con la informacion del usuario -->
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Estado De Suscipcion</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sub of this.apir.subs.Data | subsFilter : page : search"> <!-- Aqui aplicamos los filtros del pipe -->
        <th scope="row">{{ sub.Id }}</th>
        <td>{{ sub.Name }}</td>
        <td>{{ sub.Email }}</td>
        <td>{{ sub.PhoneCodeAndNumber }}</td>
        <td>{{ sub.SubscriptionStateDescription }}</td>

        <td>
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn" (click)="edit(sub.Id)">
              <i class="material-icons text-warning">edit</i> <!-- Boton para editar -->
            </button>
            <button class="btn m-3" (click)="delete(sub.Id)">
              <i class="material-icons text-danger">delete_forever</i> <!-- Boton para borrar -->
            </button>
            <button class="btn btn-white m-3" (click)="details(sub.Id)"> <!-- Boton para ver detalles -->
              <i class="material-icons text-dark">search_icon</i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn m-3" (click)="prevPage()">
    <i class="material-icons text-primary">arrow_back</i><!-- Ir una pagina atras -->
  </button>

  <button
    class="btn ,-3"
    (click)="nextPage()"
    [disabled]="(this.apir.subs.Data | subsFilter : page : search).length === 0"
  >
    <i class="material-icons text-primary">arrow_forward</i> <!-- Ir una pagina adelante -->
  </button>
</div>
